:root {
  --primary-accent-100: #ff6600;
  --primary-accent-80: #FF7D26;
  --primary-accent-70: #FF944D;
  --primary-accent-60: #FFA366;
  --primary-accent-40: #FFC299;
  --primary-accent-15: #FFE8D9;

  --primary-accent-07-transparent: rgba(255, 102, 0, 0.07);

  --grayscale-100: #141414;
  --grayscale-80: #333333;
  --grayscale-60: #666666;
  --grayscale-50: #808080;
  --grayscale-40: #999999;
  --grayscale-30: #B3B3B3;
  --grayscale-20: #CCCCCC;
  --grayscale-10: #E6E6E6;
  --grayscale-05: #F2F2F2;
  --transparent-10: rgba(0, 0, 0, 0.1);
  --transparent-07: rgba(0, 0, 0, 0.07);
  --transparent-05: rgba(0, 0, 0, 0.05);

  --status-error: #FF3B30;
  --status-error-70: #FF766E;

  --button-primary-hover: var(--primary-accent-80);
  --button-primary-pressed: var(--primary-accent-80);
  --button-primary-focus: var(--primary-accent-100);
  --button-primary-disabled: var(--grayscale-30);

  --hover-state: var(--transparent-05);
  --pressed-state: var(--transparent-10);
  --focus-state: 0 0 0 1.5px rgba(255, 102, 0, 0.6);
  --error-state: 0 0 0 1.5px rgb(255, 59, 48, 100%);

  --border-inactive: var(--grayscale-20);
  --border-inactive-hover: var(--grayscale-40);
  --border-focus: var(--primary-accent-60);
  --border-error: var(--status-error);

  --button-primary-hover-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  --button-primary-focus-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.1);

  --background-home-default: #E5E5E5;
  --background-primary-transparent: rgba(255, 102, 0, 0.04);

  --modal-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);


  --black: #000000;
  --white: #ffffff;
  --gray-light: #dddddd;
  --gray-hover: #e5e5e5;
  --gray-pressed: #d9d9d9;
  --background-default: #ffffff;
  --hover: rgba(0, 0, 0, 0.05);
  --background-accent: #ffe8d9;
  --pressed: rgba(0, 0, 0, 0.1);
  --background-poop: #f2f2f2;
  --line: rgba(0, 0, 0, 0.07);
  --overlay-light: rgba(255, 255, 255, 0.8);
  --overlay-dark: rgba(0, 0, 0, 0.4);
  --icon-idle: #777777;
  --tooltip: #333333;
  --background-blue: #d9ebff;
  --button-code-hover: #bfdeff;
  --deep-sky-blue: #007aff;
  --input-disabled: #e2e2e2;
  --icon-disabled: #b2b2b2;
  --icon-active: rgba(0, 0, 0, 0.8);

  --font-weight-bold: 700;
}
