.c-book {
  &__list-item {
    height: 100%;
    width: 100%;
    font-family: var(--systemFontStack);
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s box-shadow;
    cursor: pointer;

    &:hover {
      box-shadow: 0 5px 3px 1px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
    }
  }
}
