.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.u-mt-1 {
  margin-top: 1px !important;
}

.u-mt-2 {
  margin-top: 2px !important;
}

.u-mt-4 {
  margin-top: 4px !important;
}

.u-mt-6 {
  margin-top: 6px !important;
}

.u-mt-8 {
  margin-top: 8px !important;
}

.u-mt-10 {
  margin-top: 10px !important;
}

.u-mt-12 {
  margin-top: 12px !important;
}

.u-mt-14 {
  margin-top: 14px !important;
}

.u-mt-16 {
  margin-top: 16px !important;
}


.u-mb-1 {
  margin-bottom: 1px !important;
}

.u-mb-2 {
  margin-bottom: 2px !important;
}

.u-mb-4 {
  margin-bottom: 4px !important;
}

.u-mb-6 {
  margin-bottom: 6px !important;
}

.u-mb-8 {
  margin-bottom: 8px !important;
}

.u-mb-10 {
  margin-bottom: 10px !important;
}

.u-mb-12 {
  margin-bottom: 12px !important;
}

.u-mb-14 {
  margin-bottom: 14px !important;
}

.u-mb-16 {
  margin-bottom: 16px !important;
}

.wh-100 {
  width: 100% !important;
  height: 100% !important;
}

.u-border-all {
  border: 1px solid #cccccc !important;
}

.u-font-10 {
  font-size: 10px !important;
}

.u-font-12 {
  font-size: 12px !important;
}

.u-font-14 {
  font-size: 14px !important;
}

.u-font-16 {
  font-size: 16px !important;
}

.u-font-18 {
  font-size: 18px !important;
}

.u-font-bold {
  font-weight: bold !important;
}

.u-font-semi-bold {
  font-weight: 600 !important;
}

.u-font-normal {
  font-weight: normal !important;
}

.u-grayscale-100 {
  color: var(--grayscale-100) !important;
}

.u-grayscale-80 {
  color: var(--grayscale-80) !important;
}

.u-grayscale-80 {
  color: var(--grayscale-60) !important;
}

.u-grayscale-60 {
  color: var(--grayscale-60) !important;
}


